{{ attach_library('user_list/user_list_table') }}

<div id="user-list-wrapper">
  <p>Users found: {{ users|length }}</p>

  <table
    class="table table-striped"
    data-toggle="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-search-highlight="true"
    data-sort-reset="true"
    data-pagination="true"
    data-page-size="5"
    data-cookie="true">
    <thead>
      <tr>
        <th data-sortable="true">{{ 'Nombre'|t }}</th>
        <th data-sortable="true">{{ 'Apellido 1'|t }}</th>
        <th data-sortable="true">{{ 'Apellido 2'|t }}</th>
        <th data-sortable="true">{{ 'Email'|t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.surname1 }}</td>
          <td>{{ user.surname2 }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">No users found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="ajax-user-list-form">
  {{ form.actions }}
</div>
