<div id="user-list-wrapper">
  <p>Users found: {{ users|length }}</p>

  <table>
    <thead>
      <tr>
        <th>{{ 'Nombre'|t }}</th>
        <th>{{ 'Apellido 1'|t }}</th>
        <th>{{ 'Apellido 2'|t }}</th>
        <th>{{ 'Email'|t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.surname1 }}</td>
          <td>{{ user.surname2 }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">No users found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="ajax-user-list-form">
  {{ form }}
</div>
